version: '3.8'
volumes:
  backend_data:
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - backend_data:/app/data
    networks:
      - app-network
    environment:
      - TZ=Asia/Shanghai

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8001:8001"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge